@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

#services {
    margin-top: 5vw;
}
.services-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.title-para {
    color: gray;
    font-weight: 400;
    margin-top: -10px;
}
.global-color1 {
    color: #dd0148;
}
.global-color2 {
    color: #0494c3;
}
.service-cards {
    margin: 6vh;
}
.service-card {
    box-shadow: 0.3px 0.3px 2px rgba(90, 90, 90, 0.315);
    transition: 0.2s ease-in;
}
.service-card:hover{
    box-shadow: 2px 2px 10px rgba(90, 90, 90, 0.315);
}
.fas {
    font-size: 60px;
}

.btn-doctor1, .btn-doctor2 {
    background-color: #ffff;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 10px;
    padding: 5px 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    transition: 0.2s ease-in;
}

.btn-doctor1:hover {
    background-color: #0494c3;
    color: #fff;
    border: none;
}

.btn-doctor2:hover {
    background-color: #dd0148;
    color: #fff;
    border: none;
}