@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
.services {
    overflow: hidden;
    margin-top: 50px;
    width: 100%;
}
.service-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.service-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}


@media only screen and (max-width: 990px) {
    .service-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
}
}

@media only screen and (max-width: 765px) {
    .service-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
}
}