@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
.text-red {
    color: #dd0148;
}
.Login {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    width: 500px;
    box-shadow: 0.5px 0.5px 5px rgba(128, 128, 128, 0.26);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 30px;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    height: 40px;
    border: none;
    border: 1px solid #dd0148;
    border-radius: 5px;
    padding: 0 15px;

}
.login-btn {
    width: 90%;
    color: #fff;
    background-color: #dd0148;
    border: none;
    padding: 5px 0;
    font-weight: 500;
    border-radius: 5px;
    text-transform: uppercase;
}

.login-container .regintration {
    color: #dd0148;
    text-decoration: none;
    margin-top: 10px;
}

.login-container .google-login {
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    width: 90%;
    color: black;
    margin-top: 15px;
    font-weight: 500;
}