.Reviews {
    background-image:linear-gradient(#fbfbfba8, #ffffffb0), url(../../../images/FeedbackBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.clients-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 10px;
    width: 100px;
    height: 100px;
}
.review-info {
    padding: 0 10px;
}
.patient {
    color: #dd0148;
}
.review-info p {
    margin: 0;
}
.review-info h3 {
    margin: 0;
}